@model OctopusCodesMultiVendor.Models.ViewModels.Login.ForgetPasswordViewModel

@{
    ViewBag.Title = "Forget";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Forget</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-vertical">
    <h4>Forget Password</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <div class="control-group">
        <div class="controls">
            @Html.TextBoxFor(model => model.Email, new { @class = "input-xxlarge", required = "required", placeholder = Resources.Customer.Email })
            <br />
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10 text-danger">
            @ViewBag.infoMessage
        </div>
        <div class="col-md-10 text-danger">
            @ViewBag.errorMessage
        </div>
    </div>
</div>
}


