@model OctopusCodesMultiVendor.Models.ViewModels.Login.ResetPasswordModel

@{
    ViewBag.Title = "Reset";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Reset</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>Reset Password:</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="control-group">
        <label class="control-label" for="textarea">@(Resources.Customer.Password)*</label>
        <div class="controls">
            @Html.PasswordFor(model => model.Password, new { @class = "input-xxlarge", required = "required", placeholder = Resources.Customer.Password })
            <br />
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="textarea">Confirm Password*</label>
        <div class="controls">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "input-xxlarge", required = "required", placeholder = Resources.Customer.Password })
            <br />
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
    </div>
    
    <div class="control-group">
        <div class="colcontrols">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}


