
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@model OctopusCodesMultiVendor.Models.Account

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">@Resources.UserTemplate.Home</a> <span class="divider">/</span></li>
    <li class="active">@Resources.Customer.Customer_Register</li>
</ul>
<h3>@Resources.Customer.Customer_Information</h3>
<hr class="soft">
@using (Html.BeginForm("Register", "Customers", FormMethod.Post, new { @class = "form-inline" }))
{
<fieldset>
    @TempData["message"]

    <div class="control-group">
        <label class="control-label" for="textarea">@(Resources.Customer.Username)*</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Username, new { @class = "input-xxlarge", required = "required", placeholder = Resources.Customer.Username })
            <br />
            @Html.ValidationMessageFor(model => model.Username)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="password">@(Resources.Customer.Password)*</label>
        <div class="controls">
            @Html.PasswordFor(model => model.Password, new { @class = "input-xxlarge", required = "required", placeholder = Resources.Customer.Password_validate_message, title = Resources.Customer.Password_validate_message })
            <br />
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="textarea">@(Resources.Customer.Full_Name)*</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.FullName, new { @class = "input-xxlarge", required = "required", placeholder = Resources.Customer.Full_Name })
            <br />
            @Html.ValidationMessageFor(model => model.FullName)
        </div>
    </div>

    Address:
    <div class="control-group">
        <label class="control-label">
            Line Address 1
        </label>
        <div class="controls">
            @Html.TextBoxFor(model => model.defaultAddress.LineAddress1, new { @class = "input-xxlarge", required = "required", placeholder = "Address Line 1" })
            @Html.ValidationMessageFor(model => model.defaultAddress.LineAddress1)
        </div>
    </div>



    <div class="control-group">
        <label class="control-label">
            Line Address 2
        </label>
        <div class="controls">
            @Html.TextBoxFor(model => model.defaultAddress.LineAddress2, new { @class = "input-xxlarge", required = "required", placeholder = "Address Line 2" })
            @Html.ValidationMessageFor(model => model.defaultAddress.LineAddress2)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">
            City
        </label>
        <div class="controls">
            <select name="defaultAddress.City">
                @foreach (var city in ViewBag.cities)
                {
                    string selectedCity = "";
                    if (Model.defaultAddress != null)
                    {
                        selectedCity = Model.defaultAddress.City;
                    }
                    if (selectedCity == city)
                    {    <option value="@city" selected>@city</option>
                    }
                    else
                    {
                        <option value="@city">@city</option>

                    }
                }
            </select>
           
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">
            Zip Code
        </label>
        <div class="controls">
            @Html.TextBoxFor(model => model.defaultAddress.ZipCode, new { @class = "input-xxlarge", required = "required", placeholder = "Zip Code" })
            @Html.ValidationMessageFor(model => model.defaultAddress.ZipCode)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="textarea">@(Resources.Customer.Email)*</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Email, new { @class = "input-xxlarge", required = "required", placeholder = Resources.Customer.Email, type = "email" })
            <br />
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="textarea">@Resources.Customer.Phone</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Phone, new { @class = "input-xxlarge", placeholder = Resources.Customer.Phone, type = "phone" })
        </div>
    </div>

    <button type="submit" class="btn btn-primary">@Resources.Customer.Save</button>

</fieldset>
}

