@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutPage.cshtml";
}
@using OctopusCodesMultiVendor.Helpers
@model OctopusCodesMultiVendor.Models.ViewModels.Messages.MessageDetailViewModel

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Messages</h3>
                </div>
                <!-- /.box-header -->
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        @TempData["error"]
                    </div>
                }
                <div class="box-body">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table>

                                    @foreach (var message in ViewBag.messages)
                                    {
                                        if (message.Sender == (int)SenderType.Customer)
                                        {
                                            <div class="chatcontainer darker">
                                                <img src="~/Content/User/Images/@ViewBag.myphoto" alt="Avatar" class="right">
                                                <p>@message.Body</p>
                                                <span class="time-right">@message.DateCreation.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="chatcontainer">
                                                <img src="~/Content/User/Images/@ViewBag.senderphoto" alt="Avatar">
                                                <p>@message.Body</p>
                                                <span class="time-right">@message.DateCreation.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                            </div>
                                        }
                                    }
                                </table>
                                <h3>Send Messages to </h3>
                                <hr class="soft">
                                @using (Html.BeginForm("SendMessage", "Message", FormMethod.Post, new { @class = "form-inline" }))
                                {
                                <fieldset>
                                    @TempData["message"]


                                    <div class="chatcontainer">
                                        <label for="textarea">Content</label>
                                        <br />
                                        @Html.TextAreaFor(model => model.Body, new { @class = "mceNoEditor", placeholder = "Body", cols = "60" })
                                    </div>

                                    @Html.HiddenFor(model => model.SendTo)
                                    @Html.HiddenFor(model => model.SenderType)
                                    <button type="submit" class="btn btn-primary">Send</button>

                                </fieldset>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->


</section>
<script>
    $(document).ready(function () {
        tinymce.remove('#Body');
        tinymce.remove('textarea');
    });
</script>

